body {
    text-align: center;
    margin: 0;
}

header {
    background-color: #F15B31;
    color: #FFFFFF;
    padding: 30px 20px;
}

nav {
    background-color: #00A6B3;
    color: #FFFFFF;
    padding: 20px 0;
}

main {
    width: 850px;
    margin: 35px auto;
}

img {
    margin: 40px 8px;
}

h1 {
    font-family: raleway, sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 45px;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-family: raleway, sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

a {
    font-family: raleway, sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 20px;
    color: #FFFFFF;
    border-bottom: 2px solid transparent;
}

a:hover {
    border-color: white;
}

p {
    font-family: "droid serif", serif;
    line-height: 24px;
    font-size: 18px;
}

footer {
    text-transform: uppercase;
    padding: 0 20px;
    background-color: #0D2C40;
    color: white;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;
}

.copyright, .message {
    font-family: raleway, sans-serif;
}

.copyright {
    float: left;
}

.message {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}

.name {
    color: #F15B31;
    font-weight: 700;
}