body {
    text-align: center;
}

h1 {
    font-family: raleway, sans-serif;
    color: #0D2C40;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 45px;
    text-transform: uppercase;
}

h2 {
    font-family: raleway, sans-serif;
    color: #0D2C40;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

a {
    font-family: raleway, sans-serif;
    color: #F15B31;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

p {
    font-family: "droid serif", serif;
    line-height: 24px;
    font-size: 18px;
}